@import "src/styles.scss";

:host {
  height: 100%;
}
.leaflet-container {
  background: color($light, 500);
}
$outline1: #b5b5b5;
$outline2: #b5b5b5;

// TODO - export variables for direct use in the map (currently just for reference)
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
// https://netbasal.com/customize-webpack-configuration-in-your-angular-application-d09683f6bd22
