<div id="sliderContainer">
  <div id="sliderLegend">
    <div
      *ngFor="let marker of markers"
      class="marker"
      [style.left]="(100 * marker) / sliderOptions.max + '%'"
      [attr.data-selected]="sliderValue === marker"
    >
      <div class="marker-tick" [attr.data-selected]="sliderValue === marker">
        <span style="visibility: hidden">.</span>
      </div>
      <div class="marker-label">${{ marker }}</div>
    </div>
  </div>
  <mat-slider
    id="slider"
    color="primary"
    [(ngModel)]="sliderValue"
    [max]="sliderOptions.max"
    [min]="sliderOptions.min"
    [step]="sliderOptions.step"
    [thumbLabel]="sliderOptions.thumbLabel"
    (change)="onSliderChange($event)"
  ></mat-slider>
</div>
