<div id="sliderContainer">
  <div id="sliderLegend">
    <div
      *ngFor="let marker of markers; index as i"
      class="marker"
      [style.left]="(100 * marker.value) / sliderOptions.max + '%'"
      [attr.data-selected]="sliderValue >= marker.value"
    >
      <div
        class="marker-tick"
        [attr.data-selected]="sliderValue >= marker"
        [style.background]="markers[i].background"
      >
        <span style="visibility: hidden">.</span>
      </div>
      <div
        class="marker-label"
        [style.background]="markers[i].background"
        [style.color]="markers[i].color"
      >
        ${{ marker.value }}
      </div>
    </div>
  </div>
  <mat-slider
    #slider
    id="slider"
    color="primary"
    [(ngModel)]="sliderValue"
    [max]="sliderOptions.max"
    [min]="sliderOptions.min"
    [step]="sliderOptions.step"
    [thumbLabel]="sliderOptions.thumbLabel"
    [displayWith]="sliderOptions.displayWith"
    (change)="onSliderChange($event)"
    (input)="onSliderThumbMoved($event)"
  ></mat-slider>
</div>
