@import "src/styles.scss";

#sliderContainer {
  width: 80%;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 12px;
  border-radius: 5px;
}
#slider {
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
}
#sliderLegend {
  // slider is naturally offset 8px so adjust label
  margin: 0 8px;
  position: relative;
}
.marker {
  position: absolute;
  width: 100%;
}
.marker-tick,
.marker-label {
  position: relative;
}
.marker-tick {
  width: 2px;
  margin-left: -1px;
  top: 18px;
  height: 12px;
  background: color($dark);
  color: color($dark);
}
.marker-label {
  width: 30px;
  text-align: center;
  margin-left: -15px;
  bottom: -20px;
}
.marker-label > span {
  border-radius: 4px;
  padding: 3px;
}
.marker[data-selected="true"] {
  // color: color($primary);
}
.marker-tick[data-selected="true"] {
  background: color($primary);
}

@media only screen and (max-width: 500px) {
  #sliderContainer {
    width: 100%;
  }
  .marker-label {
    display: none;
  }
}
