<a
  class="codeatopia-button"
  href="https://www.patreon.com/codeatopia"
  target="_blank"
  >Project by Codeatopia</a
>
<div class="page">
  <div class="floating-container floating-container-top">
    <div class="heading-container">
      <h1 class="map-title">
        <span class="nav-link" (click)="toggleVis()">
          {{ heading.titleVar }}
        </span>
        of Internet
      </h1>
      <h4 class="map-subtitle">{{ heading.subtitle }}</h4>
    </div>
  </div>
  <app-map [features]="mapFeatures"></app-map>
  <div class="floating-container floating-container-bottom">
    <app-slider
      style="margin-bottom:2em"
      [markers]="markers.cost"
      (onChange)="sliderValueChanged($event, 'cost')"
      [options]="sliderOptions.cost"
      [style.display]="activeVis === 'cost' ? 'inherit' : 'none'"
    ></app-slider>
    <app-slider
      style="margin-bottom:2em"
      [markers]="markers.time"
      (onChange)="sliderValueChanged($event, 'time')"
      [options]="sliderOptions.time"
      [style.display]="activeVis === 'time' ? 'inherit' : 'none'"
    ></app-slider>
  </div>
</div>
