<div class="page" *ngIf="activeVis == 'price'">
  <h1 class="map-title">
    Cost of Internet
  </h1>
  <h4 class="map-subtitle">
    Price of 1GB bundle around the world
  </h4>
  <app-slider
    style="margin-bottom:2em"
    [markers]="markers"
    (onChange)="sliderValueChanged($event)"
  ></app-slider>
  <app-map [features]="mapFeatures"></app-map>
</div>

<div class="page" *ngIf="activeVis == 'time'">
  <h1 class="map-title">
    Cost of Internet
  </h1>
  <h4 class="map-subtitle">
    Time-equivalent of 1GB bundle around the world
  </h4>
  <app-slider
    style="margin-bottom:2em"
    [markers]="markers"
    (onChange)="sliderValueChanged($event)"
    [options]="sliderOptions"
  ></app-slider>
  <app-map [features]="mapFeatures"></app-map>
</div>
