@import "src/styles.scss";

.map-title,
.map-subtitle {
  text-align: center;
  margin-bottom: 10px;
  color: color($dark);
}
.map-subtitle {
  margin-top: 0;
}
.heading-container {
  margin: auto;
  max-width: 350px;
  background: white;
  border-radius: 5px;
  padding: 2px;
}
.floating-container {
  position: absolute;

  width: 100%;
  z-index: 500;
}
.floating-container-bottom {
  bottom: 1em;
}
.floating-container-top {
  top: 1em;
}
.codeatopia-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.nav-link {
  cursor: pointer;
  border-bottom: 5px dashed var(--color-primary);
}
